version: '3.8'

services:
  app:
    image: pefkus/express-app:latest
    ports:
      - 3000:3000

  watchtower:
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 30